<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <liqpay_payment>
                <active>0</active>
                <sandbox>0</sandbox>
                <sandbox_order_surfix>lqp_</sandbox_order_surfix>
                <model>CodeCustom\Payments\Model\LiqPay</model>
                <payment_action>authorize_capture</payment_action>
                <title>LiqPay</title>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <description><![CDATA[Purchase of goods in the store. Order #{order_id}.]]></description>
                <security_check>1</security_check>
                <payment_type>pay</payment_type>
            </liqpay_payment>
            <parts_payment>
                <active>0</active>
                <model>CodeCustom\Payments\Model\PbPartsPayment</model>
                <order_status>pending</order_status>
                <title>Parts Payment</title>
                <checkout_error>Parts Payment is not available for this product</checkout_error>
                <min_price>0</min_price>
                <store_id></store_id>
                <scheme></scheme>
                <recipient_id></recipient_id>
                <merchant_type>PP</merchant_type>
                <payment_type>pay</payment_type>
            </parts_payment>
            <instant_installment>
                <active>0</active>
                <model>CodeCustom\Payments\Model\PbInstantInstallment</model>
                <order_status>pending</order_status>
                <title>Instant Installment</title>
                <checkout_error>Instant is not available for this product</checkout_error>
                <min_price>0</min_price>
                <store_id></store_id>
                <scheme></scheme>
                <recipient_id></recipient_id>
                <merchant_type>II</merchant_type>
                <payment_type>pay</payment_type>
            </instant_installment>
        </payment>
        <codecustom>
            <liqpay_payment>
                <api_url></api_url>
                <checkout_url></checkout_url>
                <hold_confirm_order_status>0</hold_confirm_order_status>
            </liqpay_payment>
            <parts_payment>
                <api_url></api_url>
                <checkout_url></checkout_url>
                <confirm_url></confirm_url>
                <check_status_url></check_status_url>
                <hold_confirm_order_status>0</hold_confirm_order_status>
            </parts_payment>
            <instant_installment>
                <api_url></api_url>
                <checkout_url></checkout_url>
                <confirm_url></confirm_url>
                <check_status_url></check_status_url>
                <hold_confirm_order_status>0</hold_confirm_order_status>
            </instant_installment>
        </codecustom>
    </default>
</config>