<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CodeCustom\Payments\Api\CallBack\LiqPayCallBackInterface"
                type="CodeCustom\Payments\Model\CallBack\LiqPayCallback"/>

    <preference for="CodeCustom\Payments\Api\CallBack\PrivatBankCallBackInterface"
                type="CodeCustom\Payments\Model\CallBack\PrivatBankCallBack"/>

    <preference for="CodeCustom\Payments\Api\ValidationInterface"
                type="CodeCustom\Payments\Model\Payment\ValidatePayment"/>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="items_params"
                type="CodeCustom\Payments\Plugin\SectionDataPartsPayment"
                sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="SectionDataInstantInstallment"
                type="CodeCustom\Payments\Plugin\SectionDataInstantInstallment"
                sortOrder="15"
                disabled="false"/>
    </type>
</config>