<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CodeCustom\Payments\Api\CallBack\LiqPayCallBackInterface"
                type="CodeCustom\Payments\Model\CallBack\LiqPayCallBack"/>

    <preference for="CodeCustom\Payments\Api\CallBack\PrivatBankCallBackInterface"
                type="CodeCustom\Payments\Model\CallBack\PrivatBankCallBack"/>

    <preference for="CodeCustom\Payments\Api\ValidationInterface"
                type="CodeCustom\Payments\Model\Payment\ValidatePayment"/>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="items_params"
                type="CodeCustom\Payments\Plugin\SectionDataPartsPayment"
                sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="SectionDataInstantInstallment"
                type="CodeCustom\Payments\Plugin\SectionDataInstantInstallment"
                sortOrder="15"
                disabled="false"/>
    </type>

    <type name="Magento\Framework\Webapi\Rest\Request\DeserializerFactory">
        <arguments>
            <argument name="deserializers" xsi:type="array">
                <item name="application_url_encoded" xsi:type="array">
                    <item name="type" xsi:type="string">application/x-www-form-urlencoded</item>
                    <item name="model" xsi:type="string">CodeCustom\Payments\Webapi\Rest\Request\UrlEncoded</item>
                </item>
                <item name="application_json" xsi:type="array">
                    <item name="type" xsi:type="string">application/json</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Json</item>
                </item>
                <item name="application_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="application_xhtml_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xhtml+xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="text_xml" xsi:type="array">
                    <item name="type" xsi:type="string">text/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>